page {
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.van-collapse-rewrite {
  box-shadow: 0 2rpx 10rpx #ebedf0;
  .van-collapse-item__title {
    .van-cell {
      align-items: center;
      font-size: 32rpx !important;
      line-height: 80rpx !important;
    }
  }
  .van-collapse-item__content {
    padding: 0 !important;
  }
}

.demo-panel__footer {
  text-align: right;
  .van-button {
    margin-left: 10rpx !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #c1c1c1;
}
