@import '../style/var.scss';
.van-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: $cell-vertical-padding $cell-horizontal-padding;
  overflow: hidden;
  color: $cell-text-color;
  font-size: $cell-font-size;
  line-height: $cell-line-height;
  background-color: $cell-background-color;

  // #ifdef H5
  &:not(:last-child)::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: $padding-md;
    border-bottom: 1px solid $cell-border-color;
    transform: scaleY(0.5);
  }
  // #endif

  // #ifndef H5
  &::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: $padding-md;
    border-bottom: 1px solid $cell-border-color;
    transform: scaleY(0.5);
  }
  // #endif


  &--alone {
    color: $text-color !important;
    text-align: left !important;
  }

  &__title,
  &__value {
    flex: 1;
  }

  &__value {
    position: relative;
    overflow: hidden;
    color: $cell-value-color;
    text-align: right;
    vertical-align: middle;
  }

  &__label {
    margin-top: $cell-label-margin-top;
    color: $cell-label-color;
    font-size: $cell-label-font-size;
    line-height: $cell-label-line-height;
  }

  &--large {
    &.van-cell__title {
      font-size: $cell-large-title-font-size;
    }

    &.van-cell__label {
      font-size: $cell-large-label-font-size;
    }
  }

  &__left-icon,
  &__right-icon {
    min-width: 15rpx;
    height: $cell-line-height;
    font-size: $cell-icon-size;
    line-height: $cell-line-height;
  }

  &__left-icon {
    margin-right: 5px;
  }

  &__right-icon {
    margin-left: 5px;
    display: flex;
    align-items: center;
    color: $cell-right-icon-color;
  }

  &--clickable {
    &:active {
      background-color: $cell-active-color;
    }
  }
}