.theme-default-content:not(.custom) {
  padding-left: 19rem;
  padding-right: 15px;
  min-width: 1100px;
}

.sidebar {
  background-color: #ffffff;
  width: 276px;
}

@media (max-width: 1800px) {
  .theme-default-content:not(.custom) {
    min-width: 900px;
  }
}

@media (max-width: 1620px) {
  .theme-default-content:not(.custom) {
    min-width: 700px;
  }
}

@media (max-width: 1450px) {
  .theme-default-content:not(.custom) {
    min-width: 600px;
    padding-left: 15rem;
  }

  .sidebar {
    width: 220px;
  }
}

@media (max-width: 720px) {
  .theme-default-content:not(.custom) {
    padding-left: 15px;
  }
}

.page {
  padding-left: 0;
}

em {
  color: #a7419e;
  font-size: 14px;
  font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
  font-style: normal;
}