.theme-default-content:not(.custom) {
  padding-left: 250px;
  padding-right: 30px;
  max-width: 922px;
}

.page {
  padding-left: 0;
}

.sidebar {
  background-color: #ffffff;
  width: 220px;
}

em {
  color: #a7419e;
  font-size: 14px;
  font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
  font-style: normal;
}