@import './var.scss';

.van-field {
  &__label {
    flex: none !important;
    display: flex;
    align-items: center;
    width: $field-label-width;
  }
}

.demo-field .van-field__right-icon .van-icon {
  color: #1989fa;
}

.uni-input {
  height: 100% !important;
}

.uni-input-form,
.uni-input-wrapper {
  font-size: inherit;
}

.van-collapse-item__title {
  &--disabled {
    &,
    & .van-cell__right-icon,
    .van-cell {
      color: $collapse-item-title-disabled-color !important;
    }
    .van-cell--clickable:active {
      background-color: $white !important;
    }
  }
}
