@import './var.scss';

.uni-input {
  height: 100% !important;
}

.van-collapse-item__title {
  &--disabled {
    &,
    & .van-cell__right-icon,
    .van-cell {
      color: $collapse-item-title-disabled-color !important;
    }
    .van-cell--clickable:active {
      background-color: $white !important;
    }
  }
}
