// Basic Colors
$black: #000;

// Component Colors
$text-color: #323233;

// Border
$border-color: #ebedf0;
$border-radius-sm: 2px;

// Font
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-weight-bold: 500;

// Animation
$animation-duration-base: .3s;
$animation-duration-fast: .2s;

// Button
$button-default-height: 44px;
$button-default-line-height: 42px;
$button-default-font-size: $font-size-lg;
$button-border-radius: $border-radius-sm;
$button-default-line-height: 42px;
$button-default-color: $text-color;